
%h1.display-3 Welcome to this super cool URL shortener!!

%div{style: "margin: 40px;"}
  = render 'form', url: @url

%h1.display-3 Top 100 more accesed sites

%table{class: 'table'}
  %thead
    %tr
      %th Original URL
      %th Shorten
      %th Visits
      %th Created at

  %tbody
    - @urls.each do |url|
      %tr
        %td= url.original_url
        %td= link_to url.shorted_url, url.shorted_url
        %td= url.visits
        %td= url.created_at

-# Entry point for ReactJS code
#react-app-root
