.div
  = link_to "  <<< Go back", "/"

%h1{style: "text-align:center;"} URL created successfully

- link = "#{request.protocol + request.host}:#{request.port.to_s}/#{@url.shorted_url}"

.div{style: "text-align:center;"}
  = link_to link, link

-# Entry point for ReactJS
#reactroot
